# Archivos temporales de PyInstaller (build)
build/

# Archivos de audio / multimedia personales
*.ogg
*.mp3
*.mp4

# Archivos de sistema Windows
Thumbs.db
desktop.ini

# Entornos virtuales Python
__pycache__/
*.pyc
*.pyo
venv/
env/
